* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blue-bg {
  background: linear-gradient(90deg, rgba(24, 91, 157, 1) 0%, rgba(66, 203, 162, 1) 100%);
}

.orange-bg {
  background: linear-gradient(90deg, rgba(169, 52, 118, 1) 0%, rgba(209, 128, 21, 1) 100%);
}

.viewport {
  height: 100vh;
  position: relative;
}

.card {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}