@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: #D5E1EF;
   font-family: 'Source Sans Pro', sans-serif;
}

section {
   height: 100vh;
   width: 100%;
   position: relative;
}

.card {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   width: 350px;
}

.info {
   padding: 12px;
   text-align: center;
}

.card-title {
   color: #354461;
   margin-bottom: 12px;
}

.card-description {
   color: #92979D;
}

.card-image img {
   width: 100%;
   border-radius: 8px;
}