@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
}

body {
   font-family: 'Open Sans', sans-serif;
}

.flex {
   display: flex;
}

.container {
   max-width: 1440px;

}

ul li {
   list-style-type: none;
}

li a {
   text-decoration: none;
}

/* header */

.nav-bar {
   justify-content: space-between;
   align-items: center;
   margin: 20px auto;
   padding: 0 20px;
}

.logo-image {
   width: 100px;
}

.logo-image img {
   width: 100%;
}

.nav-links {
   gap: 10px;
}

.nav-link a {
   color: hsl(238, 22%, 44%);
   font-weight: bold;
}

/* hero section */

.hero-section {
   flex-direction: column;
}

.hero-image {
   width: 100%;
}

.hero-image img {
   width: 100%;
}

.hero-info {
   text-align: center;
   margin: 10px 20px;
}

.hero-title {
   font-size: 1.6rem;
   font-weight: 700;
}

.get-started-form {
   flex-direction: column;
}

.hero-text {
   margin: 20px 0;
}

.email-input,
.btn {
   padding: 10px 20px;
   width: 80%;
   margin: 0 auto;
   border-radius: 5px;
   font-size: 1rem;
}

.email-input {
   border: 1px solid hsl(238, 22%, 44%);
}

.btn {
   background-color: hsl(224, 93%, 58%);
   color: #fff;
   border: none;
   margin-top: 10px;

}

/* stay productive */

.productive {
   margin-top: 20px;
   padding: 60px 20px;
   background-image: url('./images/bg-curve-mobile.svg');
   background-repeat: no-repeat;
   background-color: hsl(240, 75%, 98%);
}

.productive-image {
   width: 100%;
}

.productive-image img {
   width: 100%;
}

.productive-section {
   flex-direction: column;
   margin: 0 auto;
   text-align: left;
   gap: 20px;
}

.productive-title {
   margin: 15px 0;
   font-size: 1.3rem;
   text-align: center;
}

.productive-text {
   margin: 15px 0;
}

.link {
   text-align: center;
   border-bottom: 2px solid hsl(170, 45%, 43%);
   width: 50%;
   margin: 0 auto;
}

.link a {
   font-size: 1rem;
   color: hsl(170, 45%, 43%);
}

.arrow {
   width: 20px;
   height: 20px;
}

.box {
   background-color: #fff;
   margin: 20px 0;
   padding: 30px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   border-radius: 5px;
}

.box-footer {
   margin: 20px 0 10px;
}

.box-image {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}

.box-image img {
   width: 100%;
   border-radius: 50%;
}

/* early access */

.early-access {
   background-color: hsl(238, 22%, 44%);
   color: #fff;
   padding: 30px 15px;
   text-align: center;
}

.early-access-info {
   margin: 20px;
}


@media (min-width: 1028px) {

   .logo-image {
      width: 150px;
   }

   .nav-link a {
      font-size: 1.3rem;
      font-weight: 400;
   }

   .hero-section {
      flex-direction: row-reverse;
      align-items: center;
      margin: 0 auto;
   }

   .get-started-form {
      flex-direction: row;
   }

   .btn {
      margin-top: 0;
      margin-left: 10px;
   }

   .productive {
      background-image: url('./images/bg-curve-desktop.svg');
   }

   .productive-section {
      flex-direction: row-reverse;
      gap: 40px;
   }

   .box {
      width: 50%;
   }


   .early-access {
      display: flex;
      padding: 50px 20px;
   }

   .early-access-text {
      flex: 1;
   }

   .early-access-form {
      flex: 1;
   }

   .btn-access {
      margin-left: 0;
      margin-top: 20px;
   }

}