@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&display=swap');

/* Header */

body {
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .navigation {
  display: flex;
  gap: 1rem;
}

.container .navigation li a {
  color: #191919;
}

.btn {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
}

.btn-primary {
  background-color: #191919;
  color: #fff;
}

/* Home */

.home {
  background-color: #BEC0FF;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .home-title {
  margin-top: 60px;
  font-size: 4rem;
  width: 50%;
  text-align: center;
  line-height: 1;
  margin-bottom: 20px;
}

.home-container .home-text {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.home-container .buttons {
  margin-bottom: 20px;
}

.home-container img {
  max-width: 800px;
  width: 100%;
  margin-bottom: 30px;
}

.home-container .info {
  color: #78727F;
  margin-bottom: 30px;
}

.home-container .partners {
  display: flex;
  gap: 1rem;
  margin-bottom: 30px;
}

/* Benefits */

.benefits-section {
  max-width: 1280px;
  width: 100%;
  margin: 80px auto;
}

.benefits-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 400;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.benefits .benefit {
  width: 80%;
}

/* Catalog */

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 80px 0;
}

.catalog-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 30px;
}

.catalog .catalog-info p {
  margin-bottom: 10px;
}

.learn-more {
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
}

/* Features */

.features-section {
  background-color: #191919;
}

.features-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 80px;
}

.features-wrapper .features-title {
  padding: 80px 0;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.features-wrapper .features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 3rem;
}

.feature-title {
  color: #fff;
}

.feature-text {
  color: #eee;
}

.feature-image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feature-image img {
  background-color: #E2CC94;
  padding: 10px;
  border-radius: 100%;
}

/* Users */

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2rem 1rem;
  position: relative;
}

.user-title {
  padding: 80px 0 40px;
  text-align: center;
  font-size: 2.2rem;
}

.users .user {
  background-color: #eee;
  padding: 12px 8px;
  border-radius: 8px;
}

.users .user .user-image {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-divider {
  height: 2px;
  width: 35%;
  background: rgb(182, 182, 182);
  margin-bottom: 1rem;
}

.review-button button {
  display: block;
  margin: 10px auto;
}

.users-section .users::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 65%);
}

/* cta */


.cta {
  background: linear-gradient(86deg, rgba(242, 238, 253, 1) 0%, rgba(225, 190, 252, 1) 100%);
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 120px;
  border-radius: 15px;
}

.cta img {
  position: relative;
  margin-bottom: -100px;
}

/* footer */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#footer .nav-icons nav ul {
  display: flex;
  gap: 0.5rem;
}