* {
   box-sizing: border-box;
}

html {
   margin: 40px;
}

ul {
   margin: 0px 0px 20px;
}

h1:nth-child(1) {
   margin: 0 0 0px;
}

nav ul li {
   list-style: none;
   display: inline-block;
}

nav ul {
   text-align: center;
}

a {
   text-decoration: none;
   color: lightgreen;
}

header {
   border-bottom: 3px solid black;
}